* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f7f9fc;
  background: linear-gradient(315deg, rgb(252, 184, 226) 0%, rgb(255, 200, 237) 20%, rgb(251, 232, 249) 40%, rgb(232, 249, 255) 60%, rgb(208, 236, 255) 80%, rgb(184, 205, 250) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

.board {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.list {
  background-color: #f3eaf2;
  padding: 1rem;
  border-radius: 8px;
  width: 25%;
  min-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list h2 {
  color: #555;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.card {
  background-color: white;
  color: #333;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: grab;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.card:active {
  cursor: grabbing;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0); 
}

.list.over{
    background-color: #d1d3d8;
}

@media(max-width: 768px){
    .board{
        flex-direction: column;
        align-items: center;
    }

    .list {
        width: 80%;
        margin-bottom: 20px;
    }
}